.footer-section {
    background-color: #151516;
    padding: 5rem;
}
.footer-section .footer-up{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    flex-wrap: wrap;
}
.footer-up p{
    color: #FFF;
}
.footer-section .footer-down{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    flex-wrap: wrap;

}
.footer-down h3{
    color: #FFF;
    padding: .6rem 0;
}
.footer-down li a{
    color: #FFF;
    padding-top: .3rem;
    transition: .3s all ease-in-out;
}

.footer-down li a:hover, .f-icons:hover{
    color: #01959A;
} 

@media screen and (max-width: 500px){
    .footer-section .footer-up{
        display: flex;
        justify-content: space-between;
        color: #FFF;
        flex-wrap: wrap;
    }
    .footer-icons{
        margin-top: 1rem;
    }
}